<table class="table" border="3">
    <!-- <thead>
        <tr>
            <th>Puzzle</th>
            <th>Visitor</th>
            <th>Answer</th>
            <th>Correct</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead> -->
    <tbody>
        {% for row in rows %}
        <tr>
            {% for item in row %}
            <td>{% if item.is_answer %}
                <td>{{ item.value }} bgcolor="lightblue"</td>
                {% else %}
                <td>{{ item.value }}</td>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
